parameters:
	ignoreErrors:
		-
			message: "#^Property MaAlps\\\\MaAlps\\\\Resource\\\\App\\\\StateDiagramTest\\:\\:\\$resource is never read, only written\\.$#"
			count: 1
			path: tests/Resource/App/StateDiagramTest.php
